<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <img src="assets/images/navbar-logo.jpg" alt="Profile" class="navbar-logo">
    </div>

    <ul class="navbar-menu">
      <li *ngFor="let item of navItems" [class.active]="item.active">
        <a [routerLink]="item.route" class="nav-link">{{ item.label }}</a>
      </li>
    </ul>

    <div class="navbar-profile">
      <img src="assets/images/profile-avatar.jpg" alt="Profile" class="profile-avatar">
    </div>
  </div>
</nav>